<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>cl.licitacheck.crawler</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/python3</string>
    <string>/Users/denisevalinlacoste/Desktop/hackkk/agentes/crawler.py</string>
    <string>--incremental</string>
    <string>--auto-process</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/denisevalinlacoste/Desktop/hackkk</string>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>7</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>RunAtLoad</key>
  <false/>

  <key>StandardOutPath</key>
  <string>/Users/denisevalinlacoste/Desktop/hackkk/agentes/crawler.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/denisevalinlacoste/Desktop/hackkk/agentes/crawler.err.log</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin</string>
  </dict>
</dict>
</plist>
